name: tyre_reservation_app
description: A tyre change reservation application
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.1
  table_calendar: ^3.0.9
  intl: ^0.20.2
  http: ^1.2.2
  cupertino_icons: ^1.0.2
  url_strategy: ^0.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  build_runner: ^2.4.15

flutter:
  uses-material-design: true
